.customers {
  // margin-left: 185px;
  height: 519px;
  @media screen and (min-width: $tablet) {
    height: 397px;
  }

  @media screen and (min-width: $desktop) {
    height: 372px;
  }

&__title {
  padding-top: 60px;
  margin-bottom: 30px;
  color: $main-text-color;

  text-align: center;

  @media screen and (min-width: $desktop) {
  @include font(36px, 700, calc(36 / 42));
  padding-top: 94px;
  margin-bottom: 50px;
  }
}

&__list {
  display: flex;
  // justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

&__item {
  @include sizes(210px, 92px);
  box-sizing: border-box;
  border: 1px solid $third-text-color;
  border-radius: 4px;

  @extend %flex-center;

  @media screen and (min-width: $tablet) {
    @include sizes(226px, 92px);
  }

  @media screen and (min-width: $desktop) {
  @include sizes(170px, 92px);
  }

&:is(:hover, :focus) {
  cursor: pointer;
  border-color: $logo-color;
  @include transition(border, 250ms, cubic-bezier(0.4, 0, 0.2, 1));
}

&:is(:hover, :focus) .customers__svg {
  fill: $logo-color;
  @include transition(fill, 250ms, cubic-bezier(0.4, 0, 0.2, 1));

  @include animation(tada, 1.5s, 1);
}
}

&__link {
  display: block;
}

&__svg {
  // position: relative;

  fill: $third-text-color;
}

&__svg--first {
  @include customers-svg-sizes(50.27px, 50.23px, 38%, 22%);

  @media screen and (min-width: $tablet) {
    @include customers-svg-sizes(43.27px, 43.23px, 40%, 26%);
  }

  @media screen and (min-width: $desktop) {
  @include customers-svg-sizes(46px, 52.7px, 35%, 20%);
  }
}

&__svg--second{
  @include customers-svg-sizes(53px, 65px, 38%, 12%);

  @media screen and (min-width: $tablet) {
  @include customers-svg-sizes(50px, 62px, 38%, 13%);
  }

  @media screen and (min-width: $desktop) {
  @include customers-svg-sizes(48px, 60px, 35%, 15%);
  }
}

&__svg--third {
  @include customers-svg-sizes(50.46px, 48.18px, 38%, 22%);

  @media screen and (min-width: $tablet) {
  @include customers-svg-sizes(45.46px, 43.18px, 40%, 24%);
  }

  @media screen and (min-width: $desktop) {
  @include customers-svg-sizes(43.46px, 41.18px, 37%, 25%);
  }
}

&__svg--fourth {
  @include customers-svg-sizes(160.44px, 116.62px, 16%, -8%);

  @media screen and (min-width: $desktop) {
  @include customers-svg-sizes(170.44px, 126.62px, 2%, -17%);
  }
}

&__svg--fifth {
  @include customers-svg-sizes(83.54px, 66.43px, 30%, 12%);

  @media screen and (min-width: $tablet) {
  @include customers-svg-sizes(75.54px, 58.43px, 32%, 16%);
  }

  @media screen and (min-width: $desktop) {
  @include customers-svg-sizes(77.54px, 60.43px, 25%, 15%);
  }
}

&__svg--sixth {
  @include customers-svg-sizes(153.79px, 103.93px, 13%, -12%);

  @media screen and (min-width: $tablet) {
  @include customers-svg-sizes(133.79px, 83.93px, 17%, 5%);
  }

  @media screen and (min-width: $desktop) {
  @include customers-svg-sizes(153.79px, 103.93px, 9%,-5%);
  }
}
}